.header {
  display: flex;
  justify-content: space-between;
  background-color: #0C1248;
  color: #fff;
  padding: 0 40px 0 40px;
}

.logo {
  font-family: 'Knewave', cursive;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 24px;

}

.logo span {
  line-height: 28px;
}

.shamble {
  color: #FFBDBD
}

.boys {
  color: #FFE6BD
}

.golf {
  color:  #EBF5C8
}