.product-wrapper {
	
	width: 100%;
	background: url('../../assets/cactus.jpeg') no-repeat center
		center fixed;
	/* position: absolute; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  padding: 5rem 0 5rem 0;

}

.product-wrapper ul {
 list-style: none;

 padding: 3rem 3rem 0 3rem;
 display: flex;
 justify-content: center;
 flex-direction: row;
flex-wrap:wrap;
}